<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Job</title>
  </head>
  <body>
    <h2>Hello {{request.session.user_name}}! Create a new job!</h2>
    <a href="/logout">Logout</a>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/process_job" method="POST">
      {% csrf_token %}

      Title:<input type="text" name="job_title" /><br />
      Description: <textarea name="description"></textarea> <br />
      Location:<input type="text" name="location" /><br />
      Category: <input type="text" name="category" value='???'/><br>
      {{user.id}}<input type="hidden" name="user_id" id="{{user.id}}">
      <a href="/dashboard"> Cancel </a>
      <input type="submit" value="Add Job" /><br />
    </form>
  </body>
</html>
