<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handy Helper Dashboard</title>
  </head>
  <body>
	  <h1>Welcome to Handy Helper!</h1>
    <h2>Hello {{request.session.user_name}}!</h2>
    <a href="/logout">Logout</a>
    <form action="/create_job">
      <input type="submit" value="New Job!" /><br>
    Everyone's Jobs:
    <table>
      <tr>
        <th>Job</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
      {{ job_title }}
      {% for job in all_jobs %}
      <tr>
        <th><a href="/jobs/{{job.id}}">{{trip.destination}}</a></th>
        <th>{{job_title}}</th>
        <th>{{job.location}}</th>
        <th><a href="/remove/{{job.id}}">Remove</a> <a href="/edit/{{job.id}}">Edit</a></th>
        <th><a href="/view/{{job.id}}">Remove</a> <a href="/add/{{job.id}}">Edit</a></th>
      </tr>
      {% endfor %}
      {% for job in others_jobs %}
      <tr>
        <th><a href="/jobs/{{job.id}}">{{job.destination}}Job id{{job.id}}</a></th>
        <th>{{job.start_date}}</th>
        <th>{{job.end_date}}</th>
        <th>{{job.plan}}</th>
        <th><a href="/remove/{{job.id}}">Remove</a><a href="/join{{job.id}}">Join</a></th>
      </tr>
      {% endfor %}






    </table>

  </body>
</html>
