<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Buddy</title>
  </head>
  <body>
    <h1>Welcome! Let's Travel!</h1>

    <h3>Register</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/register" method="POST">
      {% csrf_token %} 
      First Name: <input type="text" name="first_name" /><br />
      Last Name: <input type="text" name="last_name" /><br />
      Email: <input type="text" name="email" /><br />
      Password: <input type="password" name="password" /><br />
      Confirm pw: <input type="password" name="confirm_pw" /><br />
      <input type="submit" value="Register" /><br />
    </form>
    <h3>Login:</h3>
      </li>
    </ul>
    <form action="/login" method="POST">
      {% csrf_token %} 
      Email: <input type="text" name="email" /><br />
      Password: <input type="password" name="password" /><br />
      <input type="submit" value="Log In" />
    </form>
  </body>
</html>
